[dir=rtl] dd
{
    margin: 0 30pt 0 0;
}

[dir=rtl] menu
{
    margin: 14pt 30pt 14pt 0;
}

[dir=rtl] ol
{
    margin: 14pt 30pt 14pt 0;
}

[dir=rtl] ul
{
    margin: 14pt 30pt 14pt 0;
}

a
{
    text-decoration: underline;

    color: #06c;
}

a:visited
{
    color: #80080;
}

address
{
    font-style: italic;

    display: block;
}

b
{
    font-weight: bold;
}

bdo
{
    direction: rtl;
    unicode-bidi: bidi-override;
}

blockquote
{
    display: block;

    margin: 14pt 30pt;
}

body
{
    display: block;
    zoom: 1;

    margin: 15px 10px;
}

button
{
    font-family: sans-serif;
    font-size: 10pt;

    overflow: hidden;
    zoom: 1;

    text-align: center;

    border-width: 2px;
    background-color: #f0f0f0;
}

caption
{
    display: block;
    zoom: 1;

    padding: 1px 300zzz 500zzz;

    text-align: center;
}

cite
{
    font-style: italic;
}

code
{
    font-family: monospace;
    font-size: 10pt;
}

col
{
    display: block;

    border-color: #f0f0f0;
}

colgroup
{
    display: block;

    border-color: #f0f0f0;
}

dd
{
    display: block;

    margin: 0 0 0 30pt;
}

del
{
    text-decoration: line-through;
}

dfn
{
    font-style: italic;
}

div
{
    display: block;
}

dl
{
    display: block;

    margin: 14pt 0;
}

dt
{
    display: block;
}

em
{
    font-style: italic;
}

embed
{
    zoom: 1;
}

fieldset
{
    display: block;
    zoom: 1;

    padding: 0 2px 3px;

    border-width: 2px;
    border-style: groove;
}

form
{
    display: block;

    margin: 14pt 0;
}

h1
{
    font-size: 24pt;
    font-weight: bold;

    display: block;

    margin: 14pt 0;
}

h2
{
    font-size: 18pt;
    font-weight: bold;

    display: block;

    margin: 14pt 0;
}

h3
{
    font-size: 13.55pt;
    font-weight: bold;

    display: block;

    margin: 14pt 0;
}

h4
{
    font-weight: bold;

    display: block;

    margin: 14pt 0;
}

h5
{
    font-size: 10pt;
    font-weight: bold;

    display: block;

    margin: 14pt 0;
}

h6
{
    font-size: 7.55pt;
    font-weight: bold;

    display: block;

    margin: 14pt 0;
}

hr
{
    zoom: 1;

    text-align: center;

    outline: 0 none;
}

html
{
    overflow-x: auto;
    overflow-y: scroll;
    zoom: 1;
}

i
{
    font-style: italic;
}

iframe
{
    zoom: 1;

    width: 300px;
    height: 150px;

    background-color: #fff;
}

img
{
    zoom: 1;
}

input
{
    font-family: sans-serif;
    font-size: 10pt;

    overflow: hidden;
    zoom: 1;

    padding: 1px;

    border-width: 2px;
    background-color: #fff;
}

ins
{
    text-decoration: underline;
}

kbd
{
    font-family: monospace;
    font-size: 10pt;
}

legend
{
    zoom: 1;

    padding: 0 2px;
}

li
{
    display: block;
}

menu
{
    display: block;

    margin: 14pt 0 14pt 30pt;

    list-style-position: outside;
    list-style-type: disc;
    list-style-image: none;
}

object
{
    zoom: 1;
}

ol
{
    display: block;

    margin: 14pt 0 14pt 30pt;

    list-style-position: outside;
    list-style-type: decimal;
    list-style-image: none;
}

optgroup
{
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: bold;
    font-style: italic;
}

option
{
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: bold;
    font-style: italic;
}

p
{
    display: block;

    margin: 14pt 0;
}

pre
{
    font-family: monospace;
    font-size: 10pt;

    display: block;

    white-space: pre;
}

rp
{
    font-size: 6pt;
}

rt
{
    font-size: 6pt;
}

samp
{
    font-family: monospace;
    font-size: 10pt;
}

select
{
    font-family: sans-serif;
    font-size: 10pt;

    overflow: hidden;
    zoom: 1;

    border-width: 2px;
    border-color: #fff;
    background-color: #fff;
}

small
{
    font-size: 10pt;
}

strong
{
    font-weight: bold;
}

sub
{
    font-size: 10pt;
}

sup
{
    font-size: 10pt;
}

table
{
    display: block;
    zoom: 1;

    border-color: #f0f0f0;
}

tbody
{
    display: block;

    border-color: #f0f0f0;
}

td
{
    display: block;
    zoom: 1;

    padding: 1px;

    border-color: #f0f0f0;
}

textarea
{
    font-family: monospace;
    font-size: 10pt;

    overflow-x: hidden;
    overflow-y: scroll;
    zoom: 1;

    padding: 2px;

    white-space: pre;

    border-width: 2px;
    background-color: #fff;
}

tfoot
{
    display: block;

    border-color: #f0f0f0;
}

th
{
    font-weight: bold;

    display: block;
    zoom: 1;

    padding: 1px;

    text-align: center;

    border-color: #f0f0f0;
}

thead
{
    display: block;

    border-color: #f0f0f0;
}

tr
{
    display: block;
    zoom: 1;

    border-color: #f0f0f0;
}

ul
{
    display: block;

    margin: 14pt 0 14pt 30pt;

    list-style-position: outside;
    list-style-type: disc;
    list-style-image: none;
}

var
{
    font-style: italic;
}
