* {
    margin: 0;
    padding: 0;
}

ul {
    width: 1000px;
    margin: 0 auto;
}

li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    float: left;
    list-style: none outside none;
    text-align: center;
    width: 35%;
}

li a,
li span,
li pre {
    display: block;
    cursor: pointer;
    text-align: center;
}

li span {
    border-top: 2px solid #ccc;
    margin-top: 5px;
}

li a img {
    margin: 0 5px;
    width: 128px;
}

li pre {
    background-color: #FEFBF3;
    border: 1px solid #1684C8;
    color: #195F91;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Consol", "Courier New", Courier, monospace;
    padding: 5px;
    font-size: 12px;
}

li a img {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}

li a:hover img {
    -webkit-filter: none;
}

li a .grayscale {
    -webkit-filter: grayscale(1);
}

li a .sepia {
    -webkit-filter: sepia(1);
}

li a .saturate {
    -webkit-filter: saturate(0.5);
}

li a .saturate2 {
    -webkit-filter: saturate(3);
}

li a .hue-rotate {
    -webkit-filter: hue-rotate(90deg);
}

li a .invert {
    -webkit-filter: invert(1);
}

li a .opacity {
    -webkit-filter: opacity(.2);
}

li a .brightness {
    -webkit-filter: brightness(.5);
}

li a .contrast {
    -webkit-filter: contrast(2);
}

li a .blur {
    -webkit-filter: blur(3px);
}

li a .drop-shadow {
    -webkit-filter: drop-shadow(5px 5px 5px #ccc);
}

li a .custom {
    -webkit-filter: saturate(5) hue-rotate(500deg) grayscale(0.3) sepia(0.7) contrast(1.5) invert(0.2) brightness(.9);
}